<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">

    <!-- Remove brand entirely -->
    <!-- No logo, no text -->

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
      <ul class="navbar-nav">

        {% for item in site.data.menu %}
        <li class="nav-item{% if item.link == page.url %} active {% endif %}">
          <a class="nav-link px-4 text-dark" href="{{ site.baseurl }}{{ item.link }}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}

      </ul>
    </div>

  </div>
</nav>
